.new {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
  
}

.text {
  grid-column: span 1 / span 1;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 

  form {
      display: flex;
      flex-direction: column;
      width: 90%;
      font-family:"Proza Libre", sans-serif;


    input {
      border: none;
      outline: none;

    }
  }

  h1 {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    color: #5271FF;
    margin: 20px 0;
    text-transform: uppercase;
    margin-top: 50px;
  }

  p {
    font-size: 1rem;
    margin: 10px 0 30px;
    font-family:"Proza Libre", sans-serif;
    width: 556px;
  }
}

#btn {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    background-color: #5271FF;
    padding: 0.5rem 1rem;
    font-family: "Orbitron", sans-serif;
    border-radius: 10px;
    width: max-content;
    border: none;
    cursor: pointer;


  }

  #btn:hover {
    background-color: #3498db;
  }

  

.points-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pilotos {
  grid-column: span 1 / span 1;
  display: flex;
  gap: 1rem;
  align-items: center;
 
  img {
    height: 85%;
    width: 40%;
    
  }
}




.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
  }