.card-home {
    display: flex;
    flex-direction: column;
    width: 216px;
    height: 200px;
    background-color: #09090bd5;
    padding: 13px;
    border: 1px solid #374151;

    span {
        font-size: 14px;
        font-family:"Proza Libre", sans-serif;
     }

    h2 {
        font-size: 16px;
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
    }

   

}

.teste {
    display: flex;
    margin-bottom: 1rem;
}