.card-comu {
    padding: 2.5rem;
    width: 20.813rem;
    height: 20.125rem;
    border: 1px solid #5271FF;
    background-color:#09090bd5;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        margin-bottom: 1.313rem;
        font-family: "Orbitron", sans-serif;
        color: #5271FF;
        text-transform: uppercase;
    }

    p {
        font-family:"Proza Libre", sans-serif;
        font-style: italic;
    }
}
@media (max-width: 768px) {
    .card-comu {
        width: 100%;
    }
}