* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--secoundary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #09090b;
  --secoundary: #fafafa;
  --tertiary: #5271ff;
}

.bgMais {
  background-color: var(--primary);
}

.main-mais {
  width: 90%;
  margin: 0 auto;
}


.text-gradient {
  text-transform: uppercase;
  font-family: "Orbitron";
  background: linear-gradient(
    to right,
    #9333ea,
    #db2777,
    #f59e0b,
    #db2777,
    #9333ea,
    #db2777,
    #f59e0b
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 8s ease-in-out infinite;
  background-size: 300% 300%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 1023px) {
  main.about p {
    max-width: 100%;
  }

  main.about h2 {
    max-width: 100%;
  }

  ul.features-list li {
    width: 100%;
  }
}
