* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  color: var(--secoundary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #09090b;
  --secoundary: #fafafa;
  --tertiary: #5271ff;
}



.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "outlet"
  "footer"
  ;
}

.outlet {
  grid-area: outlet;
}